#app {
  height: 100%;
}
// html,
// body {
//   position: relative;
//   height: 100%;
// }
html,
body {
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

/****************/
.mySwiper2 {
  // height: 100%;
  width: 100%;
  position: absolute;
}

.outsideSwiper {
  position: absolute;
  // display: block;
  // height: 500px;
}

.wrapOutsideFilter {
  padding-top: 200px;
  position: relative;
  z-index: 100;
  display: table-cell;
  vertical-align: top;
}
.wrapFilter {
  border-radius: 0.5rem;
  width: fit-content;
  position: relative;
  z-index: 1000;
  padding: 0 2rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
  background-color: rgb(255, 255, 255);
  .ant-tabs-top .ant-tabs-nav {
    margin: 0;
  }
}

.heroSlide {
  // position: relative;
  // display: flex;
  // justify-content: center;
}

.tabContent {
  background-color: aqua;
  margin-top: -2rem !important;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #f8f7f9;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 3px;
}

.btn-submit {
  margin-top: -1rem !important;
  // position: absolute;
  // bottom: -40px;
}

.containerTitle {
  display: table;
  position: relative;
  width: 100%;
}

.hello-title {
  display: table-cell;
  vertical-align: top;
  position: relative;
  height: 600px;
  background-color: aqua;
}
